<footer>
    <img src="\images\IMG-LOGO.png" alt="" class="logo" />
    <div class="contacto">
        <p>CONTACTANOS</p>
        <div class="telefono">
            <i class="fa fa-phone"></i><p>0810 888 6532</p>
        </div>
        <div class="mail">
            <i class="fa fa-envelope"></i><p>contacto@gamingpass.com</p>
        </div>
    </div>
</footer>

</body>
</html>
