                <header>
            <div class="header-top-bar">
                <a href="/"><img src="/images/IMG-LOGO.png" alt="Logo de GAMING PASS" class="logo" /></a>
                <div class="form">
                    <input name="busqueda" class="input" placeholder="Búsqueda">
                    <label for="busqueda"><i class="fa fa-search"></i></label>
                </div>
                <div class="nav-header">
                    <ul>
                        <li><a href="/users/login"><i class="fa fa-user"></i></a></li>
                        <li><a href="/users/logout"><i class="fa fa-user"></i></a></li>
                        <li><a href="/productCart"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a href="/create">Registrar producto</a></li>
                    </ul>
                </div>
            </div>
            <nav class="header-bottom-bar">
                <ul>
                    <li><a href="#">Asus</a></li>
                    <li><a href="#">Acer</a></li>
                    <li><a href="#">Dell</a></li>
                    <li><a href="#">Samsung</a></li>
                </ul>
            </nav>
        </header>
