<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAMING PASS</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
</head>
<body>
    <header>
        <div class="header-top-bar">
            <a href="/"><img src="/images/IMG-LOGO.JPG" alt="Logo de GAMING PASS" class="logo" /></a>
            <div class="form">
                <div class="input"><i class="fa fa-search"></i>Busqueda</div>
            </div>
            <div class="nav-header">
                <ul>
                    <li><a href="/login"><i class="fa fa-user"></i></a></li>
                    <li><a href="/productCart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <nav class="header-bottom-bar">
            <ul>
                <li><a href="#">Asus</a></li>
                <li><a href="#">Acer</a></li>
                <li><a href="#">Dell</a></li>
                <li><a href="#">Samsung</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="producto">
                <img class="imagen-producto" src="/images/IMG-NOTEBOOK1.JPG" alt="Notebook ASUS ZenBook DUO TOUCH UX482 14">
            <article class="estado-producto">
                <h2 class="nombre-producto">Notebook ASUS ZenBook DUO TOUCH UX482 14" Core I7 1165G7 16GB 1TB SSD NVMe MX450 Screen Pad PLUS 12.65" W10 </h2>
                <p class="disponiblidad">10 unidades disponibles</p>
                <p class="envio">Envío gratis<i class="fas fa-truck truck-icon"></i></p>
            </article>
        </section>
        <section class="caracteristicas">
            <article >
                <h1>Caracteristicas</h1>
                <p>-Tamaño De La Pantalla: 14.00 pulgadas</p>
                <p>-Idioma Del Teclado: Español</p>
                <p>-Ram Integrada: 16 gb</p>
                <p>-Color: Azul</p>
                <p>-Peso: 1.57 kg</p>
                <p>-Bluetooth: Si</p>
                <p>-Puertos Hdmi: 1</p>
                <P>Tipo De Gpu: Nvidia GeForce</P>
            </article>
        </section>
    </main>
    <footer>
        <img src="\images\IMG-LOGO.JPG" alt="" class="logo" />
        <div class="contacto">
            <p>CONTACTANOS</p>
            <div class="telefono">
                <i class="fa fa-phone"></i><p>0810 888 6532</p>
            </div>
            <div class="mail">
                <i class="fa fa-envelope"></i><p>contacto@gamingpass.com</p>
            </div>
        </div>
    </footer>
</body>
</html>
