<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMING PASS</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="/css/productCart.css" />
</head>
<body>
    <header>
        <div class="header-top-bar">
            <a href="/"><img src="/images/IMG-LOGO.png" alt="Logo de GAMING PASS" class="logo" /></a>
            <div class="form">
                <div class="input"><i class="fa fa-search"></i>Búsqueda</div>
            </div>
            <div class="nav-bar">
                    <a href="/login">Iniciar Sesión<i class="fa fa-user"></i></a>
            </div>
        </div>
    </header>
    
    <section class="main-purchase">
        <section class="main-purchase-top-content">
            <h3>
                Carrito
            </h3>
            <h3>
                Detalle de compra
            </h3>
        </section>

        <section class="main-purchase-rest-content">
            <ul class="main-purchase-bottom-content-1">
                <li>
                    <p>Producto</p>
                    <p>Monitor</p>
                </li>
                <li>
                    <p>Unidades</p>
                    <p>1</p>
                </li>
                <li>
                    <p>Precio</p>
                    <p>5000</p>
                </li>
                <li>
                    <p>Cuotas</p>
                    <p>3 s/interes</p>
                </li>
            </ul>

            <section class="main-purchase-bottom-content-2">
                <div class="campo-calculos">
                    <h4>
                        Monto total:
                    </h4>
                    <p>
                        5000
                    </p>
                </div>
                <div class="campo-calculos">
                    <h4>
                        Unidades:
                    </h4>
                    <p>
                        1
                    </p>
                </div>

                <div class="campo-navegacion">
                    <h4>
                        Finalizar compra
                    </h4>
                </div>
                <div class="campo-navegacion">
                    <h4>
                        Seguir navegando
                    </h4>
                </div>

            </section>
        </section>
    </section>

</body>
</html>