    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/productDetail.css" />
    <title>Producto#</title>
</head>

<body>

<%- include('partials/header') %>

    <main>
        <section class="producto">
                <img class="imagen-producto" src="/images/IMG-NOTEBOOK1.JPG" alt="Notebook ASUS ZenBook DUO TOUCH UX482 14">
            <article class="estado-producto">
                <h2 class="nombre-producto">Notebook ASUS ZenBook DUO TOUCH UX482 14" Core I7 1165G7 16GB 1TB SSD NVMe MX450 Screen Pad PLUS 12.65" W10 </h2>
                <p class="disponiblidad">10 unidades disponibles</p>
                <p class="envio">Envío gratis<i class="fas fa-truck truck-icon"></i></p>
            </article>
        </section>
        <section class="caracteristicas">
            <article >
                <h1>Caracteristicas</h1>
                <p>-Tamaño De La Pantalla: 14.00 pulgadas</p>
                <p>-Idioma Del Teclado: Español</p>
                <p>-Ram Integrada: 16 gb</p>
                <p>-Color: Azul</p>
                <p>-Peso: 1.57 kg</p>
                <p>-Bluetooth: Si</p>
                <p>-Puertos Hdmi: 1</p>
                <P>Tipo De Gpu: Nvidia GeForce</P>
            </article>
        </section>
    </main>
    
<%- include('partials/footer') %>
