    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/productCart.css" />
    <title>Tu carrito</title>
</head>
<body>
    <%- include('partials/header') %>
    
    <section class="main-purchase">
        <section class="main-purchase-top-content">
            <h3>
                Carrito
            </h3>
            <h3>
                Detalle de compra
            </h3>
        </section>

        <section class="main-purchase-rest-content">
            <ul class="main-purchase-bottom-content-1">
                <li>
                    <p>Producto</p>
                </li>
                <li>
                    <p>Unidades</p>
                </li>
                <li>
                    <p>Precio</p>
                </li>
                <li>
                    <p>Cuotas</p>
                </li>
            </ul>

            <section class="main-purchase-bottom-content-2">
                <div class="campo-calculos">
                    <h4>
                        Monto total:
                    </h4>
                </div>
                <div class="campo-calculos">
                    <h4>
                        Unidades:
                    </h4>
                </div>

                <div class="campo-navegacion">
                    <h4>
                        Finalizar compra
                    </h4>
                </div>
                <div class="campo-navegacion">
                    <h4>
                        Seguir navegando
                    </h4>
                </div>

            </section>
        </section>
    </section>
    
    <%- include('partials/footer') %>
