* {
  margin: 6px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

header {
  background-image: url("/images/IMG-BACKGROUND.JPG");
  box-sizing: border-box;
  margin: 0px;
}

header .logo {
  animation: grow 2s ease-out 1 alternate;
}

@keyframes grow {
  0% {
      transform: scale(0.5);
  }

  100% {
      transform: scale(1);
  }
}

header ul {
  list-style: none;
  margin: 0px;
  padding: 0;
  display: flex;
}

header a {
  text-decoration: none;
  color: #A569BD;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
  transition: all 650ms;
}

header a:hover {
-webkit-transform: scale(1.05);
transform: scale(1.05);
}

.header-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  transition: all 650ms;
}

.form:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.form .input {
  background-color: #fff;
  outline: none;
  color: #666;
  padding: 2px;
  border-radius: 3px;
}

.nav-header {
  width: 31%;
}

.nav-header ul {
  display: flex;
  text-align: center;
}

.nav-header li {
  margin: auto;
}

.nav-header a {
  font-size: 30px;

}

.header-bottom-bar ul {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

article div.main-article {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  padding: 15px;
}

.price {
  width: 30%;
  font-size: 18px;
  position: relative;
  right: 5%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3 {
  color: #666;
}

.description {
  display: none;
  margin-top: 20px;
}

section.banner img {
  width: 100%;
  transition: all 650ms;
}

section.banner img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

main {
  width: 100%;
  margin: 0 auto;
}

main section article {
  width: 100%;
  background-color: #fff;
  margin: 15px 0px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  transition: all 650ms;
}

main section article:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

main section article .description {
  color: #fff;
  transition: color 650ms;
}

main section article .description:hover {
  color: #666
}

main section article img {
  width: 100%;
  padding: 5%;
}

main section article .discount {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 70px;
  background-color: #FFF;
  color: #833fbb;
  position: relative;
  left: 30%;
}

.price {
  width: 30%;
  font-size: 18px;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  height: 30px;
  width: 30px;
  border: 1px solid #833fbb;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: #833fbb;
}

.truck-icon {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #833fbb;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: transform 1s;
}

.truck-icon:hover {
  transform: rotateZ(270deg);
}

main section h3 {
  margin: 20px 0px;
}

.beneficies {
  background-color: rgb(151, 151, 151);;
  width: 100%;
  transition: all 650ms;
}

.beneficies:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: rgb(124, 124, 124);
}

.fa-truck-moving, .fa-credit-card{
  align-self: center;
  border: 1.5px solid #b97ceb;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.item1, .item2 {
  box-sizing: border-box;
  height: 110px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  align-self: center;
  background-color: rgb(255, 255, 255);
  transition: all 650ms;
}

.item1:hover, .item2:hover {
  background-color: rgb(87, 87, 87);;
  color:#ebebeb
}

.text {
  font-family: "Roboto", sans-serif;
  color:#666;
  position: absolute;
  bottom: 40px;
  font-size: 19px;
}

footer {
  background-image: url("/images/IMG-BACKGROUND.JPG");
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: fit-content;
  height: fit-content;

}

.telefono,
.mail, p, .logo {
  display: flex;
  transition: all 650ms;
}

footer .telefono:hover,
.mail:hover, p:hover, .logo:hover {
  -webkit-transform: scale(1.05);
transform: scale(1.05);

}

@media (min-width: 361px) {

  section article .description {
    display: block;
  }

  section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  section .products {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 16px;
    justify-content: center;
  }

  section .products article {
    width: 66%;
  }
}

@media (min-width: 769px) {
  section .products article {
    width: 23%;
  }
}
