body{
    margin: 0;
    background-image: url("/images/IMG-BACKGROUND.JPG");
    font-family: 'Roboto', sans-serif;
    color:rgb(72, 67, 75)
}


.titulo{
    height: 12vh;
    display: flex;
    align-items: flex-end;
    margin: 30px;
    font-size: 100%;
}


.formulario{
    margin: 30px;
    height: 55vh;
    background-color: #c0a8ce;
    border: solid 1px ;
    padding: 14px;
    border-radius: 10px;


}
form{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.boton{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    width: 50%;
    height: 40px;
    color:rgb(72, 67, 75);
    transition: all 650ms

}

.boton:hover{
    -webkit-transform: scale(1);
    transform: scale(1.02);
}

input{
    padding: 8px;
    width: 23%;
    height: 32px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    transition: all 650ms
}

input:hover{
    -webkit-transform: scale(1);
    transform: scale(1.02);
}


input:focus{
    outline: solid 0.1px #7e41b3 ;
}


textarea{
    width: 50%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #aaaaaa
}

textarea:focus{
    outline: solid 0.1px #7e41b3 ;
}
