* {
  margin: 6px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #E5E7E9;
  position: relative;
}

header {
  background-image: url("/images/IMG-BACKGROUND.JPG");
  box-sizing: border-box;
  margin: 0px;
}

@keyframes grow {
  0% {
      transform: scale(0.5);
  }

  100% {
      transform: scale(1);
  }
}

header ul {
  list-style: none;
  margin: 0px;
  padding: 0;
  display: flex;
}

header a {
  text-decoration: none;
  color: #A569BD;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
  transition: all 650ms;
}

header a:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.header-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  transition: all 650ms;
}

.form:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.form .input {
  background-color: #fff;
  outline: none;
  color: #666;
  padding: 2px;
  border-radius: 3px;
}

.nav-header {
  width: 31%;
}

.nav-header ul {
  display: flex;
  text-align: center;
}

.nav-header li {
  margin: auto;
}

.nav-header a {
  font-size: 30px;

}

.header-bottom-bar ul {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.main-purchase {
  display: block;
  background-color: white;
  border: solid 1px black;
  margin: 15px;
  padding: 0 100px;
}

.main-purchase-top-content {
  display: flex;
  justify-content:space-around;
  border: solid 1px black;
  margin: 15px 0px 0px auto;
}

.main-purchase-rest-content {
  display: flex;
}

.main-purchase-bottom-content-1 {
  display: flex;
  width: 55%;
  justify-content:space-around;
  padding: 0px 0px 100px;
  margin: 0px 0px 15px;
  border: solid 1px black;
  list-style: none;
  text-align: center;
}

.main-purchase-bottom-content-2 {
  display: flex;
  width: 45%;
  align-items: center;
  padding: 0px 0px 100px;
  margin: 0px 0px 15px;
  border: solid 1px black;
  justify-content: center;
}

.campo-calculos {
  border: solid 1px black;
  text-align: center;
}

.campo-navegacion {
  border: solid 1px black;
  border-radius: 15%;
  padding: 5px;
  text-align: center;
}
footer {
  background-image: url("/images/IMG-BACKGROUND.JPG");
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: fit-content;
  height: fit-content;
}

.telefono,
.mail,
p,
.logo {
  display: flex;
  transition: all 650ms;
}

footer .telefono:hover,
.mail:hover,
p:hover,
.logo:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

@media (min-width: 300px) {

  main {
      display: block;
  }

  .imagen-producto {
      display: flex;
      justify-content: center;
  }

  footer {
      display: flex;
      flex-wrap: wrap;
  }
}

@media (min-width: 600px) {
  main {
      display: flex;
      flex-flow: row;
      background-color: white;
      justify-content: space-around;
      width: 100%;
      padding: 5%;
  }
}