<%-include('partials/head') %> 
    <link rel="stylesheet" href="/css/login.css">
    <title>Ingres치</title>
</head>
<body>

    

  <div class="flex-container" >

        <div class="visual">
            <div class="logo-container">
                <a href="/"><img class="logo" src="/images/Logo.png"></a>  
            </div>
            <div class="teclado-container">
                <img class="teclado" src="/images/Teclado.png">
            </div>
        </div>
       <div class="separacion">

        <div class="form-container">
           <div class="botones-container">
            <div class="botones__separacion">
                <a href="/users/login"><button class="boton" type="submit" >Ingres치</button></a> 
            </div>
            <div class="botones__separacion">
                <a href="/users/register"><button class="boton" type="submit" >Registrate</button></a> 
            </div>
           </div> 
        
            <form class="form" action="/users/login" method="POST">
                <div class="form_seccion">
                    <input class="form__input" type="email" name="email" id="txfEmail" placeholder="Email" value="<%= locals.nuevoUsuario? locals.nuevoUsuario.email : null %>">
                    
                </div>
                <div class="form_seccion">
                    <input class="form__input" type="password" name="password" id="txfPassword" placeholder="Contrase침a">
                    <% if (locals.errors && errors.email) { %>
                        <div class="error-msj">
                      <%= errors.email.msg %> 
                        </div>  
                    <% } %>
                </div>
                <div class="enviar" >
                    <a href="/"><button class="boton" type="submit">Iniciar sesi칩n</button></a>
                </div>
            </form>
        </div>

       </div>
        
       

  </div>
    

</body>
</html>
