header ul {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #A569BD;
  font-size: 17px;
}

.header-top-bar {
  display: flex;
  height: 17vh;
  background-color: #b6b3b3;
  font-family: 'Inter', sans-serif;
  align-items: center;
  font-size: 19px;
}

.image-top-bar {
  display: flex;
  background-color: #464646;
  width: 17%;
  height: 100%;
  justify-content: center;
}

.search {
  display: flex;
  width: 60%;
  height: 70%;
  font-size: 17px;
  align-items: center;
  justify-content: space-around;
}

.search .input {
  box-sizing: border-box;
  margin-top: 10px;
  width: 95%;
  padding: 14px;
  margin: 25px;
  border: 1px solid #b1afaf;
  border-radius: 6px;
}

.nav-header {
  height: 50%;
  width: 20%;
}

.nav-header ul {
  display: flex;
  text-align: center;
}

.nav-header li {
  margin: auto;
}

.nav-header a {
  font-size: 17px;
}


.header-bottom-bar ul {
  display: flex;
  height: 35px;
  justify-content: space-around;
  font-weight: bold;
  background-color: #b6b3b3;
}


footer {
  display: flex;
  flex-wrap: wrap;
  height: 25vh;
  background-color: #b6b3b3;
  font-family: 'Inter', sans-serif;
  align-items: center;
  font-size: 19px;

}

.imageFooter {
  display: flex;
  background-color: #464646;
  width: 24%;
  height: 100%;
  justify-content: center;

}

.help {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 70%;
  font-size: 17px;
  align-items: center;
  justify-content: space-around;
}

.work {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

.workButton {
  padding: 5px;
  margin: 3px;
  background-color: #464646;
  border: 2px solid #464646;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
}

.follow {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 40%;
  align-items: center;
  justify-content: space-around;

}

.iconsFollow {
  display: flex;
  width: 35%;
  font-size: 30px;
  justify-content: space-around;
}

.iconsFollow:hover {
  cursor: pointer;
}

.hrF {
  color: #fff;
  height: 50%;
  margin: auto;

}