header ul {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #A569BD;
  font-size: 17px;
}

.header-top-bar {
  display: flex;
  height: 17vh;
  background-color: #b6b3b3;
  font-family: 'Inter', sans-serif;
  align-items: center;
  font-size: 19px;
}

.image-top-bar {
  display: flex;
  background-color: #464646;
  width: 17%;
  height: 100%;
  justify-content: center;
}

.search {
  display: flex;
  width: 65%;
  height: 70%;
  padding-left: 3%;
  font-size: 17px;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.search .input {
  box-sizing: border-box;
  margin-top: 10px;
  width: 95%;
  padding: 14px;
  margin: 25px;
  border: 1px solid #b1afaf;
  border-radius: 6px;
}
.search .input:focus {
  outline: solid 0.1px #7e41b3 ;
}

.nav-header {
  height: 50%;
  width: 23%;
}

.nav-header ul {
  display: flex;
  text-align: center;
  height: 90%;
  background-color: #464646;
  border: 2px solid #5a2c83;
  border-radius: 7px;
  padding: 5px;
  margin: 8px;
}
.nav-header li{
  margin: auto;
}
.nav-header li a {
  margin: auto;
  color: #fff;
}
hr{
  height: 50%;
  color: #fff;
  margin: auto;
}

.login-nav {
  display: flex;
  width: 100%;
  height: 100%;
}

.login-nav a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #fff;
  width: 100%;
  height: 100%;
}

.login-nav img {
  height: 100%;
}



footer {
  display: flex;
  flex-wrap: wrap;
  height: 25vh;
  background-color: #b6b3b3;
  font-family: 'Inter', sans-serif;
  align-items: center;
  font-size: 19px;

}

.imageFooter {
  display: flex;
  background-color: #464646;
  width: 24%;
  height: 100%;
  justify-content: center;

}

.help {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 70%;
  font-size: 17px;
  align-items: center;
  justify-content: space-around;
}

.work {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

.workButton {
  padding: 5px;
  margin: 3px;
  background-color: #464646;
  border: 2px solid #464646;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
}

.follow {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 40%;
  align-items: center;
  justify-content: space-around;

}

.iconsFollow {
  display: flex;
  width: 35%;
  font-size: 30px;
  justify-content: space-around;
}

.iconsFollow:hover {
  cursor: pointer;
}

.hrF {
  color: #fff;
  height: 50%;
  margin: auto;

}