* {
    margin: 0px;
    padding: 0px;
  }
  
  header {
    background-image: url("/images/IMG-BACKGROUND.JPG");
    box-sizing: border-box;
    margin: 0px;
  }
  
  @keyframes grow {
    0% {
        transform: scale(0.5);
    }
   
    100% {
        transform: scale(1);
    }
  }
  
  header ul {
    list-style: none;
    margin: 0px;
    padding: 0;
    display: flex;
  }
  
  header a {
    text-decoration: none;
    color: #A569BD;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    transition: all 650ms;
  }
  
  header a:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  }
  
  .header-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    width: 31%;
  }
  
  .nav-header ul {
    display: flex;
    text-align: center;
  }
  
  .nav-header li {
    margin: auto;
  }
  
  .nav-header a {
    font-size: 17px;
  }
  

  .header-bottom-bar ul {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
  }
  body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
  }
  .form .input {
    background-color: #fff;
    outline: none;
    color: #666;
    padding: 2px;
    border-radius: 3px;
  }
  .form {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    transition: all 650ms;
  }
  
.estructura{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    margin: auto; 
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #666 0.9 ;
    border-radius: 12px;
    max-width: 1150px;
    min-width: 800px;
}
.productMain{
  display: flex;
  padding: 15px;
}
.options{
  display: flex;
}
.image{
  display: flex;
  justify-content: center;
  width: 60%;
}

.name{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 40%;
  padding: 4px;
  border: 1px solid #666 0,9;
  border-radius: 12px;
}
.productName{
  font-size: 35px;
}
.subName{
  font-size: 17px;
}

.buttons{
  align-self: flex-end;
}
.comprar{
  box-sizing: border-box;
  width: 95%;
  padding: 8px;
  margin: 3px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background-color: #7e41b3;
  border: 2px solid #5a2c83;
  color: #fff;
  border-radius: 7px;
  font-size: 18px;

}
button{
  box-sizing: border-box;
  width: 95%;
  padding: 5px;
  margin: 3px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background-color: #7e41b3;
  border: 2px solid #5a2c83;
  color: #fff;
  border-radius: 7px;
  font-size: 10px;
}
button:hover{
  cursor: pointer;
}

.pagos{
  display: flex;
  flex-flow: column;
  
}
.pago1{
  display: flex;
  justify-content: space-around;
  margin: 40px;
  
}
.pago2{
  display: flex;
  justify-content: space-around;
  margin: 40px;
}
.text{
  min-width: 336px;
}

.caracteristicas{
  display: flex;
  justify-content: space-around;
  margin: 40px;
}
.caracteristicasTitle{
  padding-left: 45px;
}

main p {
    color: rgb(95, 94, 94);
}

.name i {
    color: #A569BD;
    font-weight: bold;
}
.hr1{
  width: 80%;
  margin: auto;
}
.hr2{
  width: 50%;
  margin: auto;
}

/* @media (min-width: 300px) {
  
  main {
    display: block;
  }
  
  .imagen-producto {
    display: flex;
    justify-content: center;
  }
  
  footer {
    display: flex;
    flex-wrap: wrap;
  }
} */

/* @media (min-width: 600px) {
  .estructura {
    background-color: white;
    justify-content: space-around;
    width: 100%;
    padding: 2%;
  }
} */
footer {
  background-image: url("/images/IMG-BACKGROUND.JPG");
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    align-items: center;
}
footer .telefono:hover,
.mail:hover:hover,
.logo:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.logo {
  width: fit-content;
  height: fit-content;
}

.telefono,
.mail,
.logo {
  display: flex;
  transition: all 650ms;
}
