* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #ece8e8;
}
  
.estructura{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-around;
    margin: auto; 
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #666 0.9 ;
    border-radius: 12px;
    max-width: 1150px;
    min-width: 800px;
}
.productMain{
  display: flex;
  padding: 15px;
}
.options{
  display: flex;
}
.image{
  display: flex;
  justify-content: center;
  width: 60%;
}

.name{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 40%;
  padding: 4px;
  border: 1px solid #666 0,9;
  border-radius: 12px;
}
.productName{
  font-size: 35px;
}
.subName{
  font-size: 17px;
}

.buttons{
  align-self: flex-end;
}
.comprar{
  box-sizing: border-box;
  width: 95%;
  padding: 8px;
  margin: 3px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background-color: #7e41b3;
  border: 2px solid #5a2c83;
  color: #fff;
  border-radius: 7px;
  font-size: 18px;

}
.action-button{
  box-sizing: border-box;
  width: 95%;
  padding: 5px;
  margin: 3px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background-color: #7e41b3;
  border: 2px solid #5a2c83;
  color: #fff;
  border-radius: 7px;
  font-size: 10px;
}
button:hover{
  cursor: pointer;
}

.pagos{
  display: flex;
  flex-flow: column;
  
}
.pago1{
  display: flex;
  justify-content: space-around;
  margin: 40px;
  
}
.pago2{
  display: flex;
  justify-content: space-around;
  margin: 40px;
}
.text{
  min-width: 336px;
}

.caracteristicas{
  display: flex;
  justify-content: space-around;
  margin: 40px;
}
.caracteristicasTitle{
  padding-left: 45px;
}

main p {
    color: rgb(95, 94, 94);
}

.name i {
    color: #A569BD;
    font-weight: bold;
}
.hr1{
  width: 80%;
  margin: auto;
}
.hr2{
  width: 50%;
  margin: auto;
}

/* @media (min-width: 300px) {
  
  main {
    display: block;
  }
  
  .imagen-producto {
    display: flex;
    justify-content: center;
  }
  
  footer {
    display: flex;
    flex-wrap: wrap;
  }
} */

/* @media (min-width: 600px) {
  .estructura {
    background-color: white;
    justify-content: space-around;
    width: 100%;
    padding: 2%;
  }
} */

