body{
    margin: 0;
    background-image: url("/images/IMG-BACKGROUND.JPG");
    font-family: 'Inter', sans-serif;
}

.flex-container{
    display: flex;
}

.logo-container{
    height: 40%;
    margin: auto;
}

.logo{
    height: 100%;
    min-height: 350px;
    max-width: 350px;
}

.teclado-container{
    height: 60%;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    width: 100%;
}

.teclado{
   height: 100%;
   width: 125%;
   transition: all 650ms;
}

.teclado:hover{
-webkit-transform: scale(1.05);
transform: scale(1.05);
}

.visual{
    display: none;
    flex-direction: column;
    background-color: #464646;
    width: 32%;
    height: 110vh;
    margin: 0;
}

.separacion{
    width: 68vw;
}


.form-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;
    margin:auto;
    padding-top: 80px;
}


.form{
    justify-content: center;
    margin-top: 20px;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_seccion{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.error-msj {
    color:#c44721;
    font-size: 15px;
    font-family: 'arial', sans-serif;
    width: 100%;
    text-align: left;
}

.is-invalid {
    color: #c44721;
    border: 5px solid #b91826;
    border-radius: 4px;
}

.is-valid {
    color: #3cdf93;
    border: 5px solid #3cdf93; 
  }
  .error-message,.show-error-message {
    color: #c44721;
    font-size: 15px;
    margin:6px;
    font-family: 'arial', sans-serif;
    height: 90%;
    text-align: left;
  }
  

.form__input{
    box-sizing: border-box;
    margin-top: 10px;
    width: 95%;
    padding: 22px;
    border: 1px solid #b1afaf;
    border-radius: 6px;
}


.form__input:focus{
    outline: solid 0.1px #7e41b3 ;
}
.botones-container{
    display: flex;
    justify-content: center;
}
.botones__separacion{
    width: 100%;
}

.boton{
    box-sizing: border-box;
    width: 95%;
    padding: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: #7e41b3;
    border: 2px solid #5a2c83;
    color: #fff;
    border-radius: 7px;
    font-size: 17px;
    transition: all 650ms;
}

.boton:hover{
    cursor: pointer;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.enviar .boton {
    width: 98%;
   
}
.enviar{
    margin-top: 30px;


}

.olvide{
    text-align: left;
}


@media(max-width: 990px){
    .visual{
        display: none;
    }
    .separacion{
        width: 100%;
        min-width: 500px;
    }
    .form-container{
        margin:auto;
        padding-top: 120px;
    }
    
}

@media(min-width: 991px){
    .visual{
        display: flex;
    }
}
