<footer>
    <div class="imageFooter">
        <img src="/images/Logo.png" alt="" class="logoFooter" />
    </div>

    <div class="help">
        <p>Contactanos a través de</p>
        <p> <i class="fa-solid fa-phone"></i> 0810-999-2282</p>
        <p> <i class="fa-solid fa-envelope"></i> contacto@gamingpass.com</p>
    </div>

    <hr class="hrF">

    <div class="work">
       <button class="workButton">
           <p>¡Trabaja con nosotros!</p>
       </button>
    </div>

    <hr class="hrF"> 

    <div class="follow">
        <p>Seguinos en</p>
        <div class="iconsFollow">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>

    </div>
</footer>

</body>
</html>
 