<header>
    <div class="header-top-bar">

        <a href="/" class="image-top-bar"><img src="/images/Logo.png" alt="Logo+GAMING-PASS" class="logo" /></a>
        <div class="search">
            <input class="input" name="busqueda" placeholder="Búsqueda">

        </div>
        <div class="nav-header">
            <ul>
                <% if (locals.isLogged) { %>
                    <li><img src="/images/avatars/<%= locals.userLogged.avatar %>" width="40"
                            style="border-radius: 100%;"></li>
                    <hr>
                    <li><a href="/productCart"><i class="fa fa-shopping-cart"></i></a></li>
                    <hr>
                    <li><a href="/users/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                    <hr>
                    <li><a href="/create">Nuevo producto</a></li>
                    <% }else{ %>
                    <li class="login-nav"><a href="/users/login"><img src="/images/avatars/default-avatar.png">Iniciar Sesión</a></li></a>
                        <% } %>
            </ul>
        </div>
    </div>
</header>